<div class="main-sidebar sidebar-style-2" style="background: #C9782F;">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/dashboard"> <img src="/assests/img/logo.png" class="header-logo"  alt="logo"></a>
        </div>
        <% if(role == 1) { %>
            <ul class="sidebar-menu">
           
            <li class="dropdown text-center">
                <span style="padding-left: 10px; font-size: large; color: white;">Welcome Super Admin</span>
            </li>
                <li class="dropdown">
                    <a href="/dashboard" class="nav-link"><i class="fas fa-university" data-feather="home"></i><span>Dashboard</span></a>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i fas fa-piggy-bank
                            class="fa fa-users"></i><span>Users</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/users">Active</a></li>
                                <li><a class="nav-link" href="/admins">Admin</a></li>
                                <li><a class="nav-link" href="/deleted/users">Deleted Users</a></li>
                                <li><a class="nav-link" href="/deleted/admins">Deleted Admins</a></li>
                                
                            </ul>
                </li>
                <li class="dropdown">
                    <a href="/adminmessages" class="nav-link"><i class="fas fa-envelope"></i><span>Broadcast Message</span></a>
                </li>
                <li class="dropdown">
                    <a href="/exchange-rate" class="nav-link"><i class="fas fa-exchange-alt"></i><span>Exchange Rate</span></a>
                </li>
                <li class="dropdown">
                    <a href="/allreferrals" class="nav-link"><i class="fas fa-users"></i><span>All referrals</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown">
                        <i class="fas fa-piggy-bank"></i>
                        <span>BTC Deposits</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/btc-unapproved">Unapproved</a></li>
                        <li><a class="nav-link" href="/btc-approved">Approved</a></li>
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            class="fa fa-university"></i><span>Withdrawals</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/unapproved-withdrawal">Unapproved</a></li>
                        <li><a class="nav-link" href="/approved-withdrawal">Approved</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            class="fas fa-gift"></i><span>Coins & Packages</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/add/coin">Add New Coin</a></li>
                        <li><a class="nav-link" href="/add/package">Add New Package</a></li>
                        <li><a class="nav-link" href="/view/coins">View Coins</a></li>
                        <li><a class="nav-link" href="/gift-cards">GiftCards</a></li>
                        <li><a class="nav-link" href="/view/packages">View Packages</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            class="fas fa-wallet"></i><span>Wallets</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/add/wallet">Add New</a></li>
                        <li><a class="nav-link" href="/view/wallet">View Wallets</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fas fa-user-cog"></i><span>Settings</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/admin-password">Password</a></li>
                        
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="nav-link" onclick="event.preventDefault();
                                    document.getElementById('logout-menu').submit();">
                                        <i class="fas fa-sign-out-alt"></i><span>Logout</span>
                                    </a>
                                    <form id="logout-menu" action="/logout" method="POST" style="display: none;">
                                    </form>
                </li>
                
            </ul>
            
            <% }  else if( role == 0) { %>
            <li class="dropdown text-center">
                <span style="padding-left: 10px; font-size: large; color: white;">Welcome Manager</span>
            </li>
            <% } else if( role == 2) { %>
            
            <ul class="sidebar-menu">
           
                <li class="dropdown text-center">
                    <span style="padding-left: 10px; font-size: large; color: white;">Welcome Trader</span>
                </li>
                <li class="dropdown">
                    <a href="/agent/home" class="nav-link"><i class="fas fa-university" data-feather="home"></i><span>Dashboard</span></a>
                </li>
                
                
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown">
                        <i class="fas fa-piggy-bank"></i>
                        <span>Deposits</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/pending-internal/transaction">Unapproved</a></li>
                        <li><a class="nav-link" href="/approved-internal/transaction">Approved</a></li>
                        <!-- <li><a class="nav-link" href="/btc-unapproved">Unapproved</a></li> -->
                        <!-- <li><a class="nav-link" href="/btc-approved">Approved</a></li> -->
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            class="fa fa-university"></i><span>Withdrawals</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/unapproved-withdrawal">Unapproved</a></li>
                        <li><a class="nav-link" href="/approved-withdrawal">Approved</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fas fa-coins"></i><span>Transfer</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/unapproved-coin-withdrawal">Unapproved</a></li>
                        <li><a class="nav-link" href="/approved-coin-withdrawal">Approved</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fas fa-receipt"></i><span>Receipt</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/generate-receipt">Crypto Receipt</a></li>
                        <li><a class="nav-link" href="/giftcard-receipt">Giftcard Receipt</a></li>
                        <li><a class="nav-link" href="/pending-external/transaction">Pending Crypto</a></li>
                        <li><a class="nav-link" href="/pending-gift-card/transaction">Pending Giftcard</a></li>
                        
                        <li><a class="nav-link" href="/approved-external/transaction">Completed Crypto</a></li>
                        <li><a class="nav-link" href="/approved-gift-card/transaction">Completed Giftcard</a></li>
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            class="fas fa-gift"></i><span>Coins & Packages</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/add/coin">Add New Coin</a></li>
                        <!-- <li><a class="nav-link" href="/add/package">Add New Package</a></li> -->
                        <li><a class="nav-link" href="/view/coins">View Coins</a></li>
                        <li><a class="nav-link" href="/gift-cards">GiftCards</a></li>
                        <!-- <li><a class="nav-link" href="/view/packages">View Packages</a></li> -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/agent/wallet" class="nav-link"><i class="fas fa-wallet"></i><span>Wallets</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fas fa-user-cog"></i><span>Settings</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/admin-password">Password</a></li>
                        
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="nav-link" onclick="event.preventDefault();
                                    document.getElementById('logout-menu').submit();">
                                        <i class="fas fa-sign-out-alt"></i><span>Logout</span>
                                    </a>
                                    <form id="logout-menu" action="/logout" method="POST" style="display: none;">
                                    </form>
                </li>
                
            </ul>
            <% } %>
        
    </aside>
</div>