<%- include("../../partials/header") %>
<%- include("../../partials/user_sidebar") %>

<div class="main-content">
    <%- include("../../partials/alerts") %>
    <section class="section mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-defualt">Gift Cards</h1>
            </div>
        </div>
            
    </section>

    <section class="section mt-5">
        <div class="row px-auto">
           
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>i Tunes</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards1.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Starbucks</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards2.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Walmart</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards3.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Victoria’s secret</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards4.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Target</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards5.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Amazon</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards6.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3> Best Buy</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards7.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Chipotle</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards8.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Fandango</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards9.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Sephora</h3>
                    </div>
                    <div class="card-body">
                        <img src="/assests/img/gift-cards10.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="/sell/external" class="btn btn-primary btn-block">SELL</a>
                    </div>
                </div>
            </div>
            
        </div>
       
    </section>
</div>

<%- include("../../partials/user_footer2") %>