<%- include("./partials/headerb") %>

 <!--Breadcrumb-->
 <div class="jumbotron jumbotron-fluid breadcrumb-about">
    <div class="container">
      <h1><strong>About Us</strong></h1>
    </div>
  </div>
<!--Breadcrumb Ends-->

<!--What We Do Section-->
<div class="container about-section">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="small-body-text">About Us</p>
            <p class="big-body-text">From The Management</p>
        </div>
        <div class="col-md-5">
            <img src="assests/img/abt-img.png" data-aos="fade-up" data-aos-duration="1000" width="100%" alt="img">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <p class="about-text-detail">Welcome to	PayBuyMax Tech,	your number	one source for trading cryptocurrency, gift	cards and more.	We're dedicated	to providing you the very best of trading, with	an emphasis	on integrity, passion and professionalism.	
                <br>
                <br>
                Founded	in 2015	by two friends and colleagues Engr	Okenwa	&	
Engr.	Okolo(full	stopshould	come	after	Okolo).	PayBuyMax	Tech	
has	come	a	long	way	from	its	beginnings.	What(what	should	be	
removed)	Engr.	Okolo	first	started	out	trading	bitcoins	and	gift	
cards	as	a	hobby	in	his	home	in	UAE,	his	passion	has	remained	to	
make	trading	easy	and	enable	free	banking	for	all.	
                <br>
                <br>
                We	hope	you	enjoy	our	services	as	much	as	we	enjoy	offering	
them	to	you.	If	you	have	any	questions	or	comments,	please	don't	
hesitate	to	contact	us.	
                <br>
                <br>
                Sincerely,
                <br>
                <b>PayBuyMax Tech Mgt.</b>
                </p>
        </div>
    </div>
</div>
<!--What We Do Section Ends-->

<!--What We Do Section-->
<div class="container about-section">
    <div class="row">
        <div class="col-md-12 text-center abt-two">
            <p class="small-body-text">What We Do</p>
            <p class="big-body-text">Trading Crytocurrency</p>
        </div>            
        <div class="col-md-6">
            <p class="about-text-detail-two">PayBuyMax	Tech	offer	competitive	rates	for	cryptocurrency	(BTC,	
                USDT,	ETH,LTC,	BNB,	DOGE	ETC)	and	electronic	assets(gift	cards,	
                zelle,	cashapp,	greendot,	Lille,	sofi,	money	lion,	EDD	spending,	
                aspiration,	paypal,	Skrill,	neteller	etc)	in	Nigeria	and	this	is	
                possible	because	we	are	licensed	(licensed	to	be	change	to	
                verified)	to	trade	on	two	international	forex	(forex	to	be	replaced	
                with	crypto)	broker	platforms. 
                <br><br>
                PayBuyMax	Tech	is	into	buying	of	cryptocurrency	majorly	Bitcoin	
                to	Usdt(	and	all	stable	coins)	Etherum,	Litecoin,	bnb,	doge	and	
                other	major	Alt	coins.	– replace	this	with	“Paybuymax	is	into	
                trading	of	cryptocurrency,	giftcards	and	electronic	assets.
                </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="assests/img/img0005.png" data-aos="fade-up" data-aos-duration="1000" width="100%" alt="img">
        </div>
    </div>
</div>
<!--What We Do Section Ends-->

<!--Mission and Vision Section-->
<div class="why-us" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-1">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span><img src="assests/img/icon-mission.png" width="50px" alt="icon"></span>
            <h4>Our Mission</h4>
            <p>To be the leading exchange in Nigeria, offering our services at optimum price while availing our customers the benefit of enjoying instant and seamless payment.</p>
          </div>
        </div>

        <div class="col-lg-6 py-1">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span><img src="assests/img/icon-vision.png" width="70px" alt="icon"></span>
            <h4>Our Vision</h4>
            <p>To add value, sensitize and ensure customers are financially independent.</p>
          </div>
        </div>
      </div>
    </div>
</div>
<!--Mission and Vision Section Ends-->

<!--What We Do Section-->
<div class="container about-section">
    <div class="row">
        <div class="col-md-12 text-center abt-two">
            <p class="small-body-text">Why Trade With Us?</p>
            <p class="big-body-text">Best Trading Experience</p>
        </div>            
        <div class="col-md-6">
            <p class="about-text-detail">As we strive to establish our company as the best name in the cryptocurrency market we adopt Integrity, passion and professionalism as our watchword. 
                <br><br>
                This concurrently implies; 
                </p>
                <ul class="why-trade">
                    <li>Instant funding of account on request </li>
                    <li>Bonus And Incentives</li>
                    <li>Remaining highly Liquidated by keeping our business diversified by trading Forex, Real estate, Purchasing Bonds and proffering Lending Services</li>
                    <li>We have more than enough Bitcoin to go around</li>
                    <li>Fast payment is assured</li>
                </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 py-5">
            <img src="assests/img/img004.png" data-aos="fade-up" data-aos-duration="1000" width="100%" alt="img">
        </div>
    </div>
</div>
<!--What We Do Section Ends-->

<!--Our Core Values Section-->
<div id="portfolio-mobile" class="our-portfolio section"> 
    <div class="col-md-12 text-center core-values">
        <p class="small-body-text">VALUES</p>
        <p class="big-body-text">Our Core Values</p>
    </div> 
    <div class="container">
      <div class="row">
        <div class="col-lg-4 py-1">
            <div class="showed-content">
                <img src="assests/img/icon-value.png" width="60px" alt="icon">
            <h4>Integrity</h4>
            </div>
        </div>
        <div class="col-lg-4 py-1">
            <div class="showed-content">
                <img src="assests/img/icon-value2.png" width="60px" alt="icon">
            <h4>Passion</h4>
            </div>
        </div>
        <div class="col-lg-4 py-1">
            <div class="showed-content">
                <img src="assests/img/icon-value3.png" width="60px" alt="icon">
            <h4>Professionalism</h4>
            </div>
        </div>
      </div>
    </div>
</div>
<!--Our Core Values Section Ends-->


<%- include("./partials/footer") %>