<%- include("./partials/headerb") %>

 <!--Breadcrumb-->
 <div class="jumbotron jumbotron-fluid breadcrumb-about">
  <div class="container">
    <h1><strong>FAQs</strong></h1>
  </div>
</div>
<!--Breadcrumb Ends-->

<!--FAQs Section-->
<div id="faq" class="faq-body">
  <div class="faq-header">
    <h3 class="faq-title">Some of our FAQs</h3>
    <div class="seperator"></div>
    <div class="faq-list">
      <div>
        <details>
          <summary>How Liquid Are You? </summary>
          <p class="faq-content">We	have	a	divested	portfolio	in	
              real	estate,	this	simply	means	we	have	other	sources	of	income	thereby	
              having	enough	fiat	to	go	around	with	ample	margin	to	take	on	forex	
              broker	platforms	ensuring	payment	is	seamless	and	prompt	– Replace	
              this	with	“We	are	highly	liquid.		Our	liquidity		is	facilitated	by	
              maintaining	a	diverse	portfolio	ranging	from	trading	online	forex,	real	
              estate,	purchasing	bonds	and	proffering	lending	services.”</p>
        </details>
      </div>
      <div>
        <details>
          <summary>Are There Bonus And Incentives? </summary>
          <p class="faq-content">We are giving xxx for every $100 transaction.</p>
        </details>
      </div>
      <div>
        <details>
          <summary>How Long Before I get Credited? </summary>
          <p class="faq-content">Instantly!</p>
        </details>
      </div>
      <div>
        <details>
          <summary>What is Your Fees Charges?</summary>
          <p class="faq-content">Investing on our platform is totally free. We strive to maintain integrity, passion and professionalism in our dealings.</p>
        </details>
      </div>
      <div>
        <details>
              <summary>What is the difference between capital and commission?</summary>
              <p class="faq-content">Capital is the initial amount/lump sum invested. Commission is your profit. It is also referred to as return on investment (ROI)</p>
          </details>
      </div>
      <div>
          <details>
                <summary>How often is commission paid?</summary>
                <p class="faq-content">Commissions is paid daily.</p>
            </details>
      </div>
      <div>
          <details>
                <summary>What happens to the capital after investment duration has expired?</summary>
                <p class="faq-content">Capital will be returned in full after the duration of investment.</p>
            </details>
      </div>
      <div>
          <details>
                <summary>Can I cancel my investment plan?</summary>
                <p class="faq-content">Yes, You can cancel your investment plan after 4weeks from the day of investing.</p>
            </details>
      </div>
      <div>
          <details>
                <summary>What is cancellation fee?</summary>
                <p class="faq-content">Cancellation of investment will attract a cancellation and processing fee of 20% of the capital and full refund of commission paid from the inception of the investment.</p>
            </details>
      </div>
      <div>
          <details>
                <summary>Do you make losses in trading?</summary>
                <p class="faq-content">Our portfolio is heavily diversified into real estate, gold and crypto trading. Therefore, we are liquid enough and bear 100% risks.</p>
            </details>
      </div>
      <div>
          <details>
            <summary>What is referral bonus?</summary>
            <p class="faq-content">You can earn upto 10% of the capital invested by your referral. Your commission will be paid instantly as soon as your referral invests.</p>
            <p class="faq-content">At	the	point	of	registration	every	new	member	will	be	prompted	
              to	add	a	referral	link,	Every new	member	that	signs	up	using	a	
              referral	link	gets	a	500naira	welcome	bonus	to	be	credited	to	their	
              Naira	wallets	on	their	profile.</p>
              <p class="faq-content">
                  Secondly,	10%	of	the	first	deposit	of	the	new	member	goes	to	the	
                  up	line	or	the	owner	the	referral	link	he/she	used	during	
                  registration.
              </p>
        </details>
      </div>
  </div>
</div>
</div>
<!--FAQs Section Ends-->

<%- include("./partials/footer") %>