<%- include("./partials/headerb") %>

<!--Breadcrumb-->
<div class="jumbotron jumbotron-fluid breadcrumb-invest">
  <div class="container">
    <h1><strong>Investment</strong></h1>
  </div>
</div>
<!--Breadcrumb Ends-->

<!-- Pricing Plan Section-->
<div class="pricing-table py-2 home-price">
  <div class="col-md-12 text-center core-values">
      <p class="small-text-bd1">PRICING</p>
      <p class="big-body-text">Amazing Pricing Plan</p>
  </div> 
  <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
    <h3 class="pricing-card-header">Bronze Plan</h3>
    <div class="price">&#8358;50,000-&#8358;999,999</div>
    <ul>
      <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 3 Months Duration</li>
      <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 10% Commision</li>
      <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Branded T-shirt, Pen and Mug</li>
      <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 4% of Commission</li>
    </ul>
    <a href="/login" class="order-btn">Invest Now</a>
  </div>

  <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header">Silver Plan</h3>
      <div class="price">&#8358;1,000,000-&#8358;4,999,999</div>
      <ul>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 6 Months Duration</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 20% Commision</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Dinner (buffet) For Two in a Five Star Hotel</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 6% of Commission</li>
      </ul>
      <a href="/login" class="order-btn">Invest Now</a>
  </div>

  <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header">Gold Plan</h3>
      <div class="price">&#8358;5,000,000-&#8358;9,999,999</div>
      <ul>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 9 Months Duration</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 30% Commision</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Fully Sponsored Trip to Ghana or Kenya</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 8% of Commission</li>
      </ul>
      <a href="/login" class="order-btn">Invest Now</a>
    </div>

    <div class="pricing-card" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header">Diamond Plan</h3>
      <div class="price">&#8358;10,000,000-&#8358;15,000,000</div>
      <ul>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 12 Months Duration</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 50% Commision</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Fully Sponsored Trip to Dubai</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 10% of Commission</li>
      </ul>
      <a href="/login" class="order-btn">Invest Now</a>
    </div>
</div>
<!-- Pricing Plan Section Ends-->

<!--What We Do Section-->
<div class="container about-section">
  <div class="row"> 
      <div class="col-md-1"></div>  
      <div class="col-md-10 text-center">
          <p class="about-text-detail-two" style="font-size: 18px; letter-spacing: 0.2px; font-weight: 500;">"We	are	highly	liquid.	Our	liquidity	is facilitated	by	maintaining	a	diverse	
              portfolio	ranging	from	trading	online	forex,	real	estate,	purchasing	
              bonds	and	proffering	lending	services."
              </p>
      </div>
      <div class="col-md-1"></div>  
  </div>
</div>
<!--What We Do Section Ends-->

<%- include("./partials/footer") %>