<%- include("./partials/headerb") %>

<!--Breadcrumb-->
<div class="jumbotron jumbotron-fluid breadcrumb-about">
    <div class="container">
      <h1><strong>Pricing Plan</strong></h1>
    </div>
  </div>
<!--Breadcrumb Ends-->

<!-- Pricing Plan Section-->
<div class="pricing-table py-5">
    <div class="col-md-12 text-center core-values">
        <p class="big-body-text">Amazing Pricing Plan</p>
    </div> 
    <div class="pricing-card">
      <h3 class="pricing-card-header">Bronze Plan</h3>
      <div class="price">&#8358;50,000-&#8358;500,000</div>
      <ul>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 3 Months Duration</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 10% Commision</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Branded T-shirt, Pen and Mug</li>
        <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 4% of Commission</li>
      </ul>
      <a href="#" class="order-btn">Buy Plan</a>
    </div>
  
    <div class="pricing-card">
        <h3 class="pricing-card-header">Silver Plan</h3>
        <div class="price">&#8358;501,000-&#8358;1,000,000</div>
        <ul>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 6 Months Duration</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 20% Commision</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Dinner (buffet) For Two in a Five Star Hotel</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 6% of Commission</li>
        </ul>
        <a href="#" class="order-btn">Buy Plan</a>
    </div>
  
    <div class="pricing-card">
        <h3 class="pricing-card-header">Gold Plan</h3>
        <div class="price">&#8358;1,001,000-&#8358;5,000,000</div>
        <ul>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 9 Months Duration</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 30% Commision</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Fully Sponsored Trip to Ghana or Kenya</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 8% of Commission</li>
        </ul>
        <a href="#" class="order-btn">Buy Plan</a>
      </div>

      <div class="pricing-card">
        <h3 class="pricing-card-header">Diamond Plan</h3>
        <div class="price">&#8358;5,000,000-&#8358;50,000,000</div>
        <ul>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 12 Months Duration</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> 50% Commision</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Bonus:</b> Fully Sponsored Trip to Dubai</li>
          <li><strong></strong><i class="fas fa-check-circle li-icon"></i> <b>Admin Charge:</b> 10% of Commission</li>
        </ul>
        <a href="#" class="order-btn">Buy Plan</a>
      </div>
</div>
<!-- Pricing Plan Section Ends-->

<!--Sign Up/Newsletter Section-->
<div class="container signup-newsletter">
    <div class="row">
        <div class="col-md-6">
            <p class="first-text-signup">Sign up for free.</p>
            <p class="second-text-signup">Start investing today!</p>
        </div>
        <div class="col-md-6">
            <form class="subscribe-news">
                <button type="submit" class="btn-submit-news">Sign up for free</button>
                <input type="email" required class="input-form" placeholder="email@example.com"></input>
            </form>
        </div>
    </div>
</div>
<!--Sign Up/Newsletter Section Ends-->

<%- include("./partials/footer") %>